<%= form_for(@paycheck) do |f| %>
  <% if @paycheck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paycheck.errors.count, "error") %> prohibited this paycheck from being saved:</h2>

      <ul>
      <% @paycheck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clearfix"></div>
  <div class="row-fluid">
    <div class="form-group col-md-3 col-sm-4">
      <%= f.label :employee_id %>
      <%= f.collection_select :employee_id, Employee.all, :id, :full_name, {}, {:class => "form-control span12"} %>
    </div>
    <div class="form-group col-md-3 col-sm-4">
      <%= f.label :schedule_id %><br>
      <%= f.collection_select :schedule_id, Schedule.all, :id, :code, {}, {:class => "form-control"} %>
    </div>
    <div class="form-group col-md-3 col-sm-4">
      <%= f.label :units %><br>
      <%= f.number_field :units, :class => "form-control" %>
    </div>
    <div class="form-group col-md-3 col-sm-4">
      <%= f.label :rate %><br>
      <%= f.number_field :rate, :class => "form-control" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="form-group col-md-3 col-sm-4">
      <%= f.label :check_no %><br>
      <%= f.number_field :check_no, :class => "form-control" %>
    </div>
    <div class="form-group col-md-3 col-sm-4">
      <%= f.label :date, "Posting Date" %><br>
      <%= f.date_select :date, :class => "form-control" %>
    </div>
    <div class="form-group col-md-3 col-sm-4">
      <%= f.label :issued %><br>
      <%= f.date_select :issued, :class => "form-control" %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row-fluid clearfix">
    <div class="form-group col-md-3 col-sm-3">
      <%= f.label :gross %><br>
      <%= f.hidden_field :gross, :class => "gross" %>
      <p class="form-control-static gross"></p>
    </div>
    <div class="form-group col-md-3 col-sm-3">
      <%= f.label :css, "CSS" %><br>
      <%= f.hidden_field :css, :class => "css" %>
      <p class="form-control-static css"></p>
    </div>
    <div class="form-group col-md-3 col-sm-3">
      <%= f.label :cmc, "CMC" %><br>
      <%= f.hidden_field :cmc, :class => "cmc" %>
      <p class="form-control-static cmc"></p>
    </div>
    <div class="form-group col-md-3 col-sm-3">
      <%= f.label :net %><br>
      <%= f.hidden_field :net, :class => "net" %>
      <p class="form-control-static net"></p>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row-fluid clearfix">
    <div class="form-group col-md-3 col-sm-3">
      <%= f.label :fit, "FIT" %><br>
      <%= f.hidden_field :fit, :class => "fit" %>
      <p class="form-control-static fit"></p>
    </div>
    <div class="form-group col-md-3 col-sm-3">
      <%= f.label :ess, "ESS" %><br>
      <%= f.hidden_field :ess, :class => "ess" %>
      <p class="form-control-static ess"></p>
    </div>
    <div class="form-group col-md-3 col-sm-3">
      <%= f.label :emc, "EMC" %><br>
      <%= f.hidden_field :emc, :class => "emc" %>
      <p class="form-control-static emc"></p>
    </div>
  </div>

  <div class="row-fluid clearfix">
    <div class="actions">
      <%= f.submit "Create Paycheck", :class => "btn btn-success" %>  
      <%= link_to 'Cancel', paychecks_path, :class => "btn btn-default" %>
    </div>
  </div>
<% end %>
