<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :employee_identifier %><br>
    <%= f.text_field :employee_identifier, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.text_field :status, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :exemptions %><br>
    <%= f.number_field :exemptions, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :additional, "Additional % Withholding" %><br>
    <%= f.text_field :additional, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Save Employee", :class => "btn btn-success" %>
  </div>
<% end %>
